# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/

# DVC - prevent storing large files locally or uploading service credentials
.dvc/
.dvc/tmp/
.dvc/cache/
.dvc/config.local
.dvc/plots/
.dvc/lock
*.dvc

# Secrets and credentials
.secrets/
!data/raw/

# Data files
data/*
!data/raw/

# DVC store (if you previously used it locally)
dvcstore/

# Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# OS/Platform
.DS_Store
Thumbs.db

# Git line endings
*.csv text eol=lf
*.txt text eol=lf
*.ipynb text eol=lf
*.md text eol=lf
